<p>cliente</p>
<br>
<h1>Cadastro de Cliente</h1>
<dx-text-box placeholder="Codigo"></dx-text-box>
<br>
<dx-text-box placeholder="Nome"></dx-text-box>
<br>
<dx-button text="Enviar" width="100%"></dx-button>
<br>
<br>
<br>
<br>
<br>
<!--<dx-scroll-view></dx-scroll-view>///<dx-form></dx-form>-->
<dx-list></dx-list>
<dx-data-grid
  [dataSource]="jsonC"
  displayExpr="nome">
</dx-data-grid>
<dx-button text="Deletar" width="50%"></dx-button>
<dx-button text="Modificar" width="50%"></dx-button>
<!--Criar clientes novos, Ler clientes existentes, Modificar dados de clientes existentes, Deletar clientes existentes-->
